<div class="row">
  <div class="col-md-10">
    <h1>Control GPO 17 of a Raspberry Pi Model 3</h1>
  </div>
</div>
<div class="row">
  <div class="col-md-10">
    <h4><%= intro %> </h4>
  </div>
</div>

<div class="row">
  <div class="col-md-10">
    <ol>
      <li>Build the circuit below connecting the LED to a GPIO pin of your choice.</li>
      <br/>
      <%= image_tag "schematic.jpg"%>
      <br/>
      <br/>
      <li>Navigate to the <%= link_to('Make Blink', blink_index_path) %> page,
          select the desired GPIO, and make the LED blink
      </li>
    </ol>
  </div>
</div>


