<div class="row">
  <div class="col-md-10">
    <h1>Control GPO 17 of a Raspberry Pi Model 3</h1>
  </div>
</div>
<div class="row">
  <div class="col-md-10">
    <h4>One of the  classic electronic analogy to "Hello World"  is to make an LED blink.
     Raspberry Pi has 8 General Purpose Input/Output  pins( 4,17,18,21,22,23,24,25)  which can be configured as input/output and turned on/off via software.
     This website will allow you to operate an LED connected to a GPIO pin.</li>
    </h4>
  </div>
</div>

<div class="row">
  <div class="col-md-10">
    <ol>
      <li>Build the circuit below connecting the LED to a GPIO pin of your choice.</li>
      <br/>
      <%= image_tag "schematic.jpg"%>
      <br/>
      <br/>
      <li>Navigate to the Make Blink page, select the desired GPIO, and make the LED blink</li>
    </ol>
  </div>
</div>


